<%- include("partials/header.ejs") %>

<section class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">
      Post Added Successfully! Go to Homepage to see the newly added post!
    </h2>
    </section>

<%- include("partials/footer.ejs") %>